/* styles.css */
html {
  min-width: 420px;
  min-height: 600px;
}

body {
  font-family: "VT323", monospace;
  color: #77ff77;
  background-color: #222;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 420px;
  min-height: 600px;
}

header {
  width: 100%;
  background-color: #222;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure the header is above other content */
}

#header-container {
  display: flex;
  align-items: center;
}

#monGif {
  max-width: 90px; /* Ajustez la taille du GIF si nécessaire */
  margin-right: 30px; /* Espace entre le GIF et le logo/menu */
}

#center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  color: #77ff77;
  font-family: "VT323", monospace;
  font-size: 35px;
  font-weight: bold;
  background-color: inherit;
  margin-bottom: 10px; /* Espace entre le logo et le menu */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px; /* Espace entre les éléments du menu */
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

#animation-container {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
  margin-top: 80px; /* Add margin to account for fixed header height */
}

#texte1 {
  padding: 10%;
  margin: 20px auto;
  text-align: center;
}

#texte2 {
  padding: 10%;
  margin: 20px auto;
  text-align: center;
}

.hidden {
  display: none;
}

.fade-in {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#fenetre-dialogue {
  border: 3px solid #77ff77;
  border-radius: 5px;
  background-color: #222;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 70%;
  height: 70%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#entete {
  background-color: #222;
  border-bottom: 1px solid #77ff77;
  padding: 5px;
  height: 30px;
  position: relative;
}

#nom-utilisateur-conteneur {
  position: absolute;
  left: 0;
  top: 10px;
  overflow: hidden;
  width: 100%;
  font-family: "VT323";
  font-size: 20px;
  letter-spacing: 2px;
  color: #77ff77;
}

#nom-utilisateur {
  margin-left: 10px;
  color: #77ff77;
  display: inline-block;
  width: calc(100% - 2ch);
  animation: nomUtilisateur 10s linear infinite;
}

@keyframes nomUtilisateur {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

#boutons {
  float: right;
}

.bouton {
  margin: 0 5px;
  font-size: 16px;
  font-weight: bold;
  color: #00ff00;
  cursor: pointer;
}

#contenu {
  padding: 10px;
  color: #77ff77;
}

#chat {
  font-family: "VT323", monospace;
  margin: 0;
  padding: 0;
  background-color: #222;
  line-height: 20px;
}

#chat2 {
  width: 100%;
 /* height: 60vh;*/
height: 80%;
  margin: 0 auto;
  border: 1px solid #77ff77;
  background-color: #222;
  border-radius: 5px;
  overflow: hidden;
  line-height: 20px;
}

#terminal {
  height: 90%;
  padding: 1em;
  overflow-y: scroll;
  white-space: pre-wrap;
  color: #77ff77;
  display: flex;
  flex-direction: column;
  height: 60vh;
  line-height: 20px;
}

#historique {
  height: 90%;
  overflow-y: scroll;
  text-align: left;
  line-height: 18px;
}

#zone-saisie {
  position: relative;
 /* width: 90%;
  heigh: 100px ;
  margin: 0 auto;
  border-top: 1px solid #77ff77;*/
  background-color: #222;
  color: #77ff77;
}

#input-zone {
  width: 100%;
  background-color: #222;
  color: #77ff77;
 /* border: none;
  outline: none;
  padding: 0.5em; */
}

#input-zone:focus {
  border-color: #222;
}

.reponse {
  color: #77ff77;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: #222;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #77ff77;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #77ff77;
}

#muteButton {
  display: block;
}

#muteButton.muted {
  display: none;
}

/* styles.css */

@media (max-width: 768px) {
  #historique {
    font-size: 10px;
    line-height: 11px;
  }
  #fenetre-dialogue {
    width: 85%;
  }
}

#boutons-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  margin-top: 10px;
  padding: 0 10px;
}

.btn-action {
  background-color: #222;
  color: #77ff77;
  border: 2px solid #77ff77;
  padding: 8px; /* Réduction de la taille des boutons */
  font-family: "VT323", monospace;
  font-size: 14px; /* Réduction de la taille de la police */
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
}

.btn-action:hover {
  background-color: #66cc66;
}

#contenu {
  overflow-y: auto; /* Permet le défilement si nécessaire */
  height: calc(100% - 50px); /* Ajuste la hauteur pour les boutons */
}